## BUSINESS PROBLEM

Using A/B Testing, differences in purchasing activities between two separate groups, known as Control and Test groups, will be examined.

## ABOUT DATASET

Content: This dataset contains information about a company's website, including the number of ads seen and clicked on by users and earnings .

Context: There are two separate datasets: Control and Test group. These data sets are located on separate pages of "ab_testing.xlsxexcel". MaximumBidding was applied to the Control group and AverageBidding was applied to the test group.

COLUMNS

* impression: Number of ad views
* Click: Number of clicks on the ad displayed
* Purchase: Number of products purchased after ads clicked
* Earning: Earnings after purchased products

## TASK

To perform the A/B test, hypotheses will first be created. Afterwards, an Assumption Check will be made. Depending on the result of the Assumption Check, parametric or non-parametric testing will be applied to the hypothesis. Finally, the evaluation will be made according to the p-value  obtained.

## PREPARING DATA

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.stats.api as sms
from scipy.stats import ttest_1samp, shapiro, levene, ttest_ind, mannwhitneyu, \
    pearsonr, spearmanr, kendalltau, f_oneway, kruskal
from statsmodels.stats.proportion import proportions_ztest

In [2]:
df_maxbid=pd.read_excel("/kaggle/input/ab-test12/ab_testing.xlsx",sheet_name="Control Group")
df_avebid=pd.read_excel("/kaggle/input/ab-test12/ab_testing.xlsx",sheet_name="Test Group")

In [3]:
df_maxbid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Impression  40 non-null     float64
 1   Click       40 non-null     float64
 2   Purchase    40 non-null     float64
 3   Earning     40 non-null     float64
dtypes: float64(4)
memory usage: 1.4 KB

In [4]:
df_maxbid.shape

(40, 4)

In [5]:
df_maxbid.describe().T

,count,mean,std,min,25%,50%,75%,max
Impression,40.0,101711.449068,20302.157862,45475.942965,85726.690349,99790.701078,115212.816543,147539.336329
Click,40.0,5100.657373,1329.985498,2189.753157,4124.304129,5001.220602,5923.803596,7959.125069
Purchase,40.0,550.894059,134.108201,267.028943,470.095533,531.206307,637.957088,801.795020
Earning,40.0,1908.568300,302.917783,1253.989525,1685.847205,1975.160522,2119.802784,2497.295218

In [6]:
df_maxbid.head()

      Impression        Click    Purchase      Earning
0   82529.459271  6090.077317  665.211255  2311.277143
1   98050.451926  3382.861786  315.084895  1742.806855
2   82696.023549  4167.965750  458.083738  1797.827447
3  109914.400398  4910.882240  487.090773  1696.229178
4  108457.762630  5987.655811  441.034050  1543.720179

In [7]:
df_avebid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Impression  40 non-null     float64
 1   Click       40 non-null     float64
 2   Purchase    40 non-null     float64
 3   Earning     40 non-null     float64
dtypes: float64(4)
memory usage: 1.4 KB

In [8]:
df_avebid.shape

(40, 4)

In [9]:
df_avebid.describe().T

,count,mean,std,min,25%,50%,75%,max
Impression,40.0,120512.411758,18807.448712,79033.834921,112691.970770,119291.300775,132050.578933,158605.920483
Click,40.0,3967.549761,923.095073,1836.629861,3376.819024,3931.359804,4660.497911,6019.695079
Purchase,40.0,582.106097,161.152513,311.629515,444.626828,551.355732,699.862360,889.910460
Earning,40.0,2514.890733,282.730852,1939.611243,2280.537426,2544.666107,2761.545405,3171.489708

In [10]:
df_avebid.head()

      Impression        Click    Purchase      Earning
0  120103.503796  3216.547958  702.160346  1939.611243
1  134775.943363  3635.082422  834.054286  2929.405820
2  107806.620788  3057.143560  422.934258  2526.244877
3  116445.275526  4650.473911  429.033535  2281.428574
4  145082.516838  5201.387724  749.860442  2781.697521

## Defining the Hypothesis of A/B Testing

#H0=M1=M2
#There is no statistically significant difference in the purchasing averages of the Control and Test groups.


#H1= M1 != M2
#There is a statistically significant difference in the purchasing averages of the Control and Test groups.

In [11]:
df_maxbid["group"]="Control_Group"
df_avebid["group"]="Test_Group"

In [12]:
df=pd.concat([df_maxbid,df_avebid],ignore_index=True)

In [13]:
df.head(50)

       Impression        Click    Purchase      Earning          group
0    82529.459271  6090.077317  665.211255  2311.277143  Control_Group
1    98050.451926  3382.861786  315.084895  1742.806855  Control_Group
2    82696.023549  4167.965750  458.083738  1797.827447  Control_Group
3   109914.400398  4910.882240  487.090773  1696.229178  Control_Group
4   108457.762630  5987.655811  441.034050  1543.720179  Control_Group
5    77773.633900  4462.206586  519.669656  2081.851850  Control_Group
6    95110.586266  3555.580670  512.928746  1815.006614  Control_Group
7   106649.183075  4358.027043  747.020123  1965.100400  Control_Group
8   122709.716594  5091.558964  745.985682  1651.662991  Control_Group
9    79498.248658  6653.845515  470.501367  2456.304240  Control_Group
10   83676.936008  4273.400211  386.097881  2174.093569  Control_Group
11  132781.019865  5830.006522  628.872366  1992.224793  Control_Group
12   87939.422248  3993.319264  613.712315  1654.701285  Control_Group
13  117827.061533  5560.367663  739.537189  1985.220644  Control_Group
14  129146.689584  5537.609242  458.155925  1601.407159  Control_Group
15  101616.465549  5323.548253  801.795020  2182.161708  Control_Group
16   45475.942965  7370.214380  400.188826  1253.989525  Control_Group
17  147539.336329  3856.726853  329.377032  2143.589914  Control_Group
18   82067.899936  6609.183433  267.028943  1791.798984  Control_Group
19   81872.985723  7959.125069  729.161549  1331.696457  Control_Group
20  105493.023207  2189.753157  666.482067  2111.873740  Control_Group
21   96122.657620  7453.150820  513.578829  1629.791815  Control_Group
22   83676.602428  7153.974195  487.828774  1989.641918  Control_Group
23   80254.331644  3075.311196  530.679884  2101.319485  Control_Group
24  123961.868719  4898.788414  585.639167  2042.182931  Control_Group
25   94472.196589  5937.479474  686.412286  1616.589007  Control_Group
26  110479.806824  3585.031678  531.732729  2185.694897  Control_Group
27  136171.271652  5784.321927  772.032879  1704.134541  Control_Group
28  114341.401546  3806.145805  620.135875  1896.749695  Control_Group
29   94923.683705  5678.981962  468.878031  1857.201862  Control_Group
30  108051.824052  5919.244970  521.258111  2015.055471  Control_Group
31   92044.500107  4667.205227  729.365262  2497.295218  Control_Group
32  101530.950229  5626.901227  555.002024  2090.371280  Control_Group
33   94225.520522  5255.638665  619.867188  2090.361081  Control_Group
34   94138.627502  6994.184100  593.025791  1571.870842  Control_Group
35  132064.219003  3747.157544  551.072406  2256.975589  Control_Group
36   86409.941796  4608.256205  345.046033  1781.357690  Control_Group
37  123678.934234  3649.073787  476.168128  2187.721217  Control_Group
38  101997.494099  4736.353369  474.613537  2254.563834  Control_Group
39  121085.881220  4285.178608  590.406020  1289.308948  Control_Group
40  120103.503796  3216.547958  702.160346  1939.611243     Test_Group
41  134775.943363  3635.082422  834.054286  2929.405820     Test_Group
42  107806.620788  3057.143560  422.934258  2526.244877     Test_Group
43  116445.275526  4650.473911  429.033535  2281.428574     Test_Group
44  145082.516838  5201.387724  749.860442  2781.697521     Test_Group
45  115923.006949  4213.868620  778.373161  2157.408552     Test_Group
46  106116.436642  3279.472973  491.614531  2560.411202     Test_Group
47  125957.116104  4690.569911  855.719803  2563.579756     Test_Group
48  117442.864652  3907.939237  660.477912  2242.232586     Test_Group
49  131271.715604  4721.187812  532.279336  2368.108569     Test_Group

In [14]:
df.groupby("group").agg({"Purchase":"mean"})

                 Purchase
group
Control_Group  550.894059
Test_Group     582.106097

## ASSUMPTION CHECKING
****1-NORMALITY ASSUMPTION****

* H0: There is an assumption of normal distribution
* H1: There is no assumption of normal distribution

In [15]:
test_stat, pvalue = shapiro(df.loc[df["group"] == "Control_Group", "Purchase"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))#p-value = 0.5891

Test Stat = 0.9773, p-value = 0.5891

In [16]:
test_stat, pvalue = shapiro(df.loc[df["group"] == "Test_Group", "Purchase"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue))#p-value = 0.1541

Test Stat = 0.9589, p-value = 0.1541

* H0 cannot be rejected because p-values is greater than 0.05.
* In other words, the Normal distribution assumption is met.

****2-VARIANCE HOMOGENEITY****

* H0: Variances Are Homogeneous
* H1: Variances Are  Not Homogeneous

In [17]:
test_stat, pvalue = levene(df.loc[df["group"] == "Control_Group", "Purchase"],
                           df.loc[df["group"] == "Test_Group", "Purchase"])
print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue)) #p-value = 0.1083

Test Stat = 2.6393, p-value = 0.1083

* H0 cannot be rejected because the p-value is greater than 0.05.
* In other words, the Variance Homogeneity is met

* Since the assumptions are met, parametric testing will be used:

## INDEPENDENT TWO-SAMPLE T TEST:

In [18]:
test_stat, pvalue = ttest_ind(df.loc[df["group"] == "Control_Group", "Purchase"],
                              df.loc[df["group"] == "Test_Group", "Purchase"],
                              equal_var=True)

print('Test Stat = %.4f, p-value = %.4f' % (test_stat, pvalue)) #p-value = 0.3493

Test Stat = -0.9416, p-value = 0.3493

## RESULT

* H0 cannot be rejected because the p-value is greater than 0.05.
* That is, there is no statistically significant difference in the purchasing averages of the Control and Test groups.